.flex{
    display: flex;
}
select{
    margin: 0 15px;
}
#cities p{
    padding: 5px;
    border: 1px black solid;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid darkslateblue;
    border-bottom: 16px solid darkslateblue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}